<template>
  <router-view/>
</template>

<style>
  .application{
    font-family: 'Montserrat', sans-serif;
  }

  .font-poiret-one{
    font-family: 'Poiret One', cursive;
  }

  .font-pacifico{
    font-family: 'Pacifico', cursive;
  }

  .font-frederica-the-great{
    font-family: 'Fredericka the Great', cursive;
  }
</style>
